#box{
    border: solid 1px;
    height: 600px;
    background-image: url(chicken.avif);
    background-repeat: no-repeat;
    background-size: 1400px 600px;
    color:red;
}
#biryani{
    text-align: center;
    padding-left: 180px;
    padding-top: 90px;
    font-size: 80px;
    color: red;
}
#Register{
    margin-left: 570px;
}
#Register,#Login{
    height: 60px;
    width: 200px;
    background-color: bisque;
    font-size: 23px;
}
#Register a{
    color: palevioletred;
    font-weight: bold;
    text-decoration: none;
}
#Login a{
    color: palevioletred;
    font-weight: bold;
    text-decoration: none;
}
#register:hover{
    background-color: aquamarine;
}
#Login a{
    background-color: ;
}